<h1>Listing participations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tournament</th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= link_to participation.user.username, participation.user %></td>
        <td><%= link_to participation.tournament.name, participation.tournament %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participation', new_participation_path %>
