<h1>Listing setups</h1>

<table>
  <thead>
    <tr>
			<th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @setups.each do |setup| %>
      <tr>
        <td><%= link_to setup.name, setup %></td>
        <td><%= link_to 'Edit', edit_setup_path(setup) %></td>
        <td><%= link_to 'Destroy', setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setup', new_setup_path %>
