<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>


<% if current_user %>
	<% if current_user.is(@user) or current_user.is_admin? %>
		<div id="controls">
			<%= render 'controls' %>
		</div>
	<% end %>
<% end %>
