<h1>Editing tournament</h1>

<%= form_for(@tournament) do |f| %>
	<%= render 'form_insides', f: f %>
<% end %>

<p><%= link_to 'Destroy tournament', @tournament, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<%= link_to 'Cancel', @tournament %>
