<h1>New tournament for <%= @event.name %></h1>

<%= form_for(@tournament, url: event_tournaments_path) do |f| %>
	<%= render 'form_insides', f: f %>
<% end %>


<%= link_to 'Back', tournaments_path %>
