<h1>Editing event</h1>

<%= render 'form' %>

<% if current_user %>
	<% if current_user.is_admin? %>
		<p><%= link_to 'Destroy event', @event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
<% end %>

<%= link_to 'Cancel', @event %>
