<h1>Listing events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user %>
	<% if current_user.is_admin? %>
		<div class="controls" id="admin-tools">
			<strong>Admin tools:</strong>
			<ul>
				<li><%= link_to 'New Event', new_event_path %></li>
			</ul>
		</div>
	<% end %>
<% end %>
