<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>


<table class="table table-hover">
	<thead>
	<tr>
		<th>Tournament</th>
		<th>Phase</th>
		<th>Participations</th>
	</tr>
	</thead>
	<tbody>
	<% @event.tournaments.each do |tournament| %>
		<%= render 'tournaments/row_with_phase', tournament:tournament %>
	<% end %>
	</tbody>
</table>




<% if current_user %>
	<% if current_user.is_operator_of @event %>
		<div class="controls" id="operator-tools">
			<%= render 'controls' %>
		</div>
	<% end %>
<% end %>