<h1>Editing game</h1>

<%= render 'form' %>

<% if current_user %>
	<% if current_user.is_admin? %>
		<p><%= link_to 'Destroy game', @game, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
<% end %>

<%= link_to 'Cancel', @game %>
